<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.gustavo.mobdoc_v0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mobdoc"
        android:label="Mobdoc"
        android:roundIcon="@mipmap/mobdoc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:noHistory="true"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DadosActivity" android:noHistory="true"/>
        <activity android:name=".ProntuarioActivity" android:noHistory="true"/>
        <activity android:name=".ExamesActivity" android:noHistory="true"/>
        <activity android:name=".EditarProntuarioActivity" android:noHistory="true"/>

    </application>

</manifest>